/* Basic Layout */
#main {
    float: left;
    width: 100%;
    margin: 5% 0 5% 0;
}

#main h1 {
    font-family: Century Gothic, sans-serif;
    font-weight: bold;
    font-size: 30px;
}

#main p {
    font-family: Century Gothic, sans-serif;
    font-size: 20px;
}

#maincontainer1 {

}

#maincontaine

#contact {
    float: left;
    text-align: center;
    width: 35%;
    margin: 0 5% 0 10%;
}

#header {
    text-align: center;
}

#logo {
    width: 500px;
    height: 1000px;
}

#footer {
    width: 100%;
    float: left;
    text-align: center;
}

#copyright {
    float: left;
    width: 100%;
    margin: 1% 0 1% 0;
    padding: 0;
    text-align: center;
}

#copyright p {
    font-weight: bold;
    font-size: 16px;
}
/* End Basic Layout */

/* Global Navigation */
#gnav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

#gnav li {
    float: left;
    height: 300px;
    width: 20%;
}

#gnav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

#gnav a:hover:not(.active) {
    background-color: #111;
}

#gnav .active {
background-color:#4CAF50;
}
/* End Global Navigation */
